/* Apply the fade-in animation to the section */

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border: 1px solid #DDE0E4;
    border-radius: 50%;
    /* Add border-radius to all indicators */
    background-color: #DDE0E4;
    margin-right: 5px;
    cursor: pointer;
}
#contactButton:hover {
    color: #FFFFFF;
    background-color:#121743;
    border:#121743;
}
#contactButton2:hover {
    color: #FFFFFF;
    background-color:#121743;
    border:#121743;
}
#contactButton3:hover {
    color: #FFFFFF;
    background-color:#121743;
    border:#121743;
}
#ServButton:hover {
    color: #FFFFFF;
    background-color:#121743;
    border:#121743;
}
.carousel-indicators .active {
    background-color: #121743;
    width: 30px;
    height: 10px;
    border-radius: 20% /50%;
    margin-right: 5px;
    cursor: pointer;
}
    .carousel-inner .carousel-item .row {
        flex-wrap: nowrap;

        overflow-x: auto;
        scrollbar-width: thin;
        scrollbar-color: #ffffff transparent;

        &::-webkit-scrollbar {
            width: 1px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ddd;
        }

        max-width: 100%;

    }

    .carousel-item .active .img-fluid {
        width: 400px;

    }




section.head {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: -10px;
    margin-bottom: 5%;
}

nav.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.2);
}

.content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 900px;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
    /* Adjust this value based on your navbar height */
}

nav.navbar-toggler,
button.btn-primary {
    font-family: Cairo;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    width: 114px;
    height: 46px;
    gap: 16px;
    color: #B9B9B9;
    background-color: #121743;
    border-radius: 4px;
    border: #121743;
    /* transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; */
}

button.btn-primary:hover {
    background-color: #121743;
    color: #B9B9B9;
   
}
ul.navbar-nav {
    gap: 30px;
}

ul.navbar-nav li a {
    font-family: Cairo;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #B9B9B9;
}

.footer-info,
.footer-links,
.social-icons {
    color: #FFFFFF;
}

.footer-links li {
    margin-bottom: 10px;
}

.social-icons img {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.copyright {
    font-size: 20px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0px;
    color: #FFFFFFCC;
}